numpy<=1.25
pandas>=1.5.3
anndata>=0.8.0
scanpy
torch
torchvision
torchaudio
scikit-learn
scipy
episcanpy==0.3.2
seaborn
matplotlib
nbsphinx
sphinx_autodoc_typehints
sphinx_rtd_theme
recommonmark
leidenalg
pybedtools
adjusttext
jupyter
